.list-item {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  text-align: start;

  &:hover {
    transform: scale(1.02);
    border: 1px rgb(215, 215, 215) solid;
  }

  .name {
    margin: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }

  .gender {
    margin: 5px;
    color: grey;
    font-size: 16px;
  }

  .profession {
    margin: 5px;
    color: grey;
    font-size: 16px;
  }
}
