@import "@/../../../styles/media-breakpoints.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 25px;
  background-color: rgb(194, 193, 193);

  @include screen-sm {
    padding: 5px;
  }

  .icon {
    margin-left: 30px;
    margin-right: 20px;
    width: 45px;
    cursor: pointer;

    @include screen-sm {
      margin-left: 10px;
      margin-right: 10px;
      width: 35px;
    }
  }

  .title {
    color: black;
    font-size: 28px;

    @include screen-sm {
      font-size: 20px;
    }
  }
}
